body {
  font-family: "Manrope", sans-serif;
  background-color: hsl(218, 23%, 16%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0; 
}

.container {
  background-color: hsl(217, 19%, 24%);
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  align-items: center;
  width: 25rem;
  height: 15rem;
  border-radius: 0.5rem;
}

.advice {
  text-align: center;
  color: hsl(193, 38%, 86%);
  font-weight: 800;
}

#small-header {
  color: hsl(150, 100%, 66%);
}

.dice {
  display: flex;
  align-items: center;
}

#button {
  background-color: hsl(150, 100%, 66%);
  padding: .5rem .5rem;
  border: none;
  border-radius: 2rem;
}
